<?php

$finder = PhpCsFixer\Finder::create()->in([__DIR__ . '/src', __DIR__ . '/tests']);

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        'ordered_imports' => [
            'sortAlgorithm' => 'alpha'
        ],
        'no_unused_imports' => true,
        'strict_param' => true,
        'array_syntax' => ['syntax' => 'short']
    ])
    ->setFinder($finder);